<div class="modal" id="edit_project_modal">
<%= form_for @project do |f| %>
  <div class="modal-header">
    <h3>Deal Details</h3>
  </div>
  <div class="modal-body">
    <ul>
		<li><%= f.label :name %> <%= f.text_field :name, :autocomplete => "off" %></li>
		<li><%= f.label :client %> <%= f.text_field :client, :autocomplete => "off" %></li>
		<li class="value">
			<%= f.label :exact_value %> <%= f.text_field :exact_value, :autocomplete => "off" %> 
			<span>&ndash; or &ndash;</span>
			<div class="estimate <%= "estimated_#{@project.estimate_value}" if @project.estimate_value %>">
				<% 1.upto(5) do |i| %>
					<%= link_to raw(Settings.estimate_tag),'#', :class => "estimate_#{i}", :"data-value" => i %>
				<% end %>
			</div>
			<%= f.hidden_field :estimate_value %>
		</li>
	</ul>
  </div>
  <div class="modal-footer">
	<button type="submit" class="button">Save Deal</button>
    <a href="#" data-dismiss="modal">Cancel</a> 
  </div>
<% end %>
</div>